svg#loader-1{
    width: 100px;
    height: 100px;

}

rect#loader-2{
    width: 100px;
    height: 100px;
    fill: none;
    stroke-width: 100px;
    stroke: #00adff;
    stroke-dasharray: 100; 
    stroke-dashoffset: 50%;
    animation: animate 2s linear infinite;
}

@keyframes animate{
    to{
        stroke-dashoffset: 250%;
    }
}


div#loader{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.705);
	background-size: cover;
}